# Dependencies
node_modules/

# dfx
.dfx/
canister_ids.json

# Build
dist/
out/
.next/
build/

# Env
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# TypeScript
*.tsbuildinfo

# Motoko
.vessel/

# Next.js
.vercel
